
md-card {
    max-width: 940px;
    width: 100%;
    align-items: center;
    margin: 15px;
}

.card-no {
    width: calc(100% * (2/3) - 5px);
}

.expiry {
	-webkit-flex: auto;
	flex: auto;
    width: calc(100% * (1/3));
}

.name {
    width: 100%;
}

md-card-actions {
    margin: 0;
}
